#!/bin/bash

# {% if package_manager == "pixi" %}

watch_file "pyproject.toml" "pixi.toml" "pixi.lock"
if [[ -t 2 ]]; then export PIXI_COLOR="always"; fi
set +o nounset
eval "$(pixi shell-hook)"
set -o nounset
unset PIXI_COLOR

# {% elif package_manager == "uv" %}

watch_file "pyproject.toml" "uv.toml" "uv.lock"
uv sync
# shellcheck disable=SC2016
sd '^(\s*)?(?P<key>include-system-site-packages)(\s*)?=(\s*)?(?<val>.*)$' '$key = true' ".venv/pyvenv.cfg"
# shellcheck disable=SC1091
source ".venv/bin/activate"

# {% endif %}
