# -*- mode: toml; -*-
#:schema https://json.schemastore.org/pyproject.json
# https://packaging.python.org/en/latest/specifications/pyproject-toml/

[build-system]
build-backend = "hatchling.build"
requires = ["hatch-vcs", "hatchling"]

[dependency-groups]
build = ["check-wheel-contents", "hatch", "twine"]
dev = ["icecream"]
docs = [
  "gitpython",
  "mdx-truly-sane-lists",
  "mkdocs",
  "mkdocs-autorefs",
  "mkdocs-gen-files",
  "mkdocs-git-committers-plugin-2",
  "mkdocs-git-revision-date-localized-plugin",
  "mkdocs-literate-nav",
  "mkdocs-material[imaging]",
  "mkdocs-section-index",
  "mkdocstrings",
  "mkdocstrings-python",
  "pymdown-extensions",
  "ruff",
]
test = ["pytest", "pytest-codspeed", "pytest-cov", "pytest-xdist"]

[project]
authors = [{ email = "{{ email }}", name = "{{ author }}" }]
classifiers = [
  "Development Status :: 4 - Beta",
  # {% if license == "MIT" %}
  "License :: OSI Approved :: MIT License",
  # {% endif %}
]
dependencies = ["lazy-loader"]
description = "Add your description here"
dynamic = ["version"]
keywords = []
license = "{{ license }}"
name = "{{ name }}"
readme = "docs/README.md"
requires-python = ">=3.12"

[project.urls]
"Changelog" = "https://github.com/{{ owner }}/{{ repo }}/blob/main/CHANGELOG.md"
"Documentation" = "https://{{ owner }}.github.io/{{ repo }}/"
"Homepage" = "https://github.com/{{ owner }}/{{ repo }}"
"Issue Tracker" = "https://github.com/{{ owner }}/{{ repo }}/issues"
"Release Notes" = "https://github.com/{{ owner }}/{{ repo }}/releases"
"Source Code" = "https://github.com/{{ owner }}/{{ repo }}"

[tool.check-wheel-contents]
ignore = ["W002"]

[tool.coverage.run]
branch = true
source = ["src/"]

[tool.hatch.build.hooks.vcs]
version-file = "src/{{ subpackage }}/_version.py"

[tool.hatch.build.targets.sdist]
only-include = ["src/"]

[tool.hatch.build.targets.wheel]
packages = ["src/{{ package }}/"]

[tool.hatch.version]
source = "vcs"

[tool.pytest.ini_options]
addopts = ["--numprocesses=auto"]
junit_family = "legacy"
testpaths = ["tests/"]

# {% if package_manager == "pixi" %}
[tool.pixi.environments]
default = { features = ["build", "dev", "docs", "test"] }

[tool.pixi.project]
channel-priority = "disabled"
channels = ["conda-forge"]
platforms = ["linux-64"]

[tool.pixi.pypi-dependencies]
"{{ name }}" = { editable = true, path = "." }

[tool.pixi.system-requirements]
cuda = "12"
libc = { family = "glibc", version = "2.41" }
linux = "6.13"
# {% elif package_manager == "uv" %}
[tool.uv]
default-groups = ["build", "dev", "docs", "test"]
# {% endif %}
