<!-- -*- mode: markdown; -*- -->

<div align="center" markdown>
<a name="readme-top"></a>

![{{github_repo}}](https://socialify.git.ci/{{github_user}}/{{github_repo}}/image?description=1&forks=1&issues=1&language=1&name=1&owner=1&pattern=Transparent&pulls=1&stargazers=1&theme=Auto)

**[Explore the docs »](https://{{github_user}}.github.io/{{github_repo}}/)**

<!-- tangerine-start: badges/python.md -->
<!-- tangerine-end -->

[Changelog](https://github.com/{{github_user}}/{{github_repo}}/blob/main/CHANGELOG.md) · [Report Bug](https://github.com/{{github_user}}/{{github_repo}}/issues) · [Request Feature](https://github.com/{{github_user}}/{{github_repo}}/issues)

![](https://cdn.jsdelivr.net/gh/andreasbm/readme/assets/lines/rainbow.png)

</div>

## ✨ Features

- ✨ **TODO:** FEATURES;

## 📦 Installation

To install `{{ package_name }}`, run the following command:

```bash
uv add {{ package_name }}
```

## ⌨️ Local Development

You can use Github Codespaces for online development:

[![](https://github.com/codespaces/badge.svg)](https://codespaces.new/{{github_user}}/{{github_repo}})

Or clone it for local development:

```bash
gh repo clone {{github_user}}/{{github_repo}}
cd {{github_repo}}
mise run install
```

## 🤝 Contributing

Contributions of all types are more than welcome, if you are interested in contributing code, feel free to check out our GitHub [Issues](https://github.com/{{github_user}}/{{github_repo}}/issues) to get stuck in to show us what you're made of.

[![PR Welcome](https://img.shields.io/badge/%F0%9F%A4%AF%20PR%20WELCOME-%E2%86%92-ffcb47?labelColor=black&style=for-the-badge)](https://github.com/{{github_user}}/{{github_repo}}/pulls)

[![Contributors](https://contrib.nn.ci/api?repo={{github_user}}/{{github_repo}})](https://github.com/{{github_user}}/{{github_repo}}/graphs/contributors)

## 🔗 More Projects

<!-- tangerine-start: projects/fruits.md -->
<!-- tangerine-end -->

---

#### 📝 License

Copyright © {{ "%Y" | strftime }} [{{ author_name }}](https://github.com/{{github_user}}). <br />
This project is [{{ license }}](https://github.com/{{github_user}}/{{github_repo}}/blob/main/LICENSE) licensed.
