<!-- -*- mode: markdown -*- -->

<div align="center"><a name="readme-top"></a>

<img height="160" src="https://api.iconify.design/logos/python.svg" />

# {{ project_name }}

TODO: DESCRIPTION

[**Explore the docs »**](https://{{github_user}}.github.io/{{github_repo}}/)

[![PyPI - Downloads](https://img.shields.io/pypi/dm/{{project_name_slug}}?logo=PyPI&label=Downloads)](https://pypi.org/project/{{project_name_slug}})
[![PyPI - Python Version](https://img.shields.io/pypi/pyversions/{{project_name_slug}}?logo=Python&label=Python)](https://pypi.org/project/{{project_name_slug}})
[![PyPI - Version](https://img.shields.io/pypi/v/{{project_name_slug}}?logo=PyPI&label=PyPI)](https://pypi.org/project/{{project_name_slug}})
[![Codecov](https://img.shields.io/codecov/c/github/{{github_user}}/{{github_repo}}?logo=Codecov&label=Coverage)](https://codecov.io/gh/{{github_user}}/{{github_repo}})
[![GitHub Actions Workflow Status](https://img.shields.io/github/actions/workflow/status/{{github_user}}/{{github_repo}}/test.yaml?logo=GitHub%20Actions&label=Test)](https://github.com/{{github_user}}/{{github_repo}}/actions/workflows/test.yaml)
<br />
[![GitHub Contributors](https://img.shields.io/github/contributors/{{github_user}}/{{github_repo}}?logo=GitHub&label=Contributors)](https://github.com/{{github_user}}/{{github_repo}}/graphs/contributors)
[![GitHub Forks](https://img.shields.io/github/forks/{{github_user}}/{{github_repo}})](https://github.com/{{github_user}}/{{github_repo}}/forks)
[![GitHub Repo Stars](https://img.shields.io/github/stars/{{github_user}}/{{github_repo}})](https://github.com/{{github_user}}/{{github_repo}}/stargazers)
[![GitHub Issues](https://img.shields.io/github/issues/{{github_user}}/{{github_repo}}?logo=GitHub&label=Issues)](https://github.com/{{github_user}}/{{github_repo}}/issues)
[![GitHub License](https://img.shields.io/github/license/{{github_user}}/{{github_repo}}?label=License)](https://github.com/{{github_user}}/{{github_repo}}/blob/main/LICENSE)

[Changelog](https://github.com/{{github_user}}/{{github_repo}}/blob/main/CHANGELOG.md) · [Report Bug](https://github.com/{{github_user}}/{{github_repo}}/issues) · [Request Feature](https://github.com/{{github_user}}/{{github_repo}}/issues)

![](https://raw.githubusercontent.com/andreasbm/readme/master/assets/lines/rainbow.png)

</div>

## ✨ Features

- [x] ✨ **TODO:** FEATURES;

<div align="right">

[![](https://img.shields.io/badge/-BACK_TO_TOP-black?style=flat-square)](#readme-top)

</div>

## 📦 Installation

To install `{{ project_name_slug }}`, run the following command:

```bash
$ uv add {{ project_name_slug }}
```

<div align="right">

[![](https://img.shields.io/badge/-BACK_TO_TOP-black?style=flat-square)](#readme-top)

</div>

## ⌨️ Local Development

You can use Github Codespaces for online development:

[![](https://github.com/codespaces/badge.svg)](https://codespaces.new/{{github_user}}/{{github_repo}})

Or clone it for local development:

```bash
$ gh repo clone {{ github_user }}/{{ github_repo }}
$ cd {{ github_repo }}
$ just test
```

<div align="right">

[![](https://img.shields.io/badge/-BACK_TO_TOP-black?style=flat-square)](#readme-top)

</div>

## 🤝 Contributing

Contributions of all types are more than welcome, if you are interested in contributing code, feel free to check out our GitHub [Issues](https://github.com/{{github_user}}/{{github_repo}}/issues) to get stuck in to show us what you're made of.

[![](https://img.shields.io/badge/%F0%9F%A4%AF%20PR%20WELCOME-%E2%86%92-ffcb47?labelColor=black&style=for-the-badge)](https://github.com/{{github_user}}/{{github_repo}}/pulls)

[![](https://contrib.rocks/image?repo={{github_user}}%2F{{github_repo}})](https://github.com/{{github_user}}/{{github_repo}}/graphs/contributors)

<div align="right">

[![](https://img.shields.io/badge/-BACK_TO_TOP-black?style=flat-square)](#readme-top)

</div>

## 🔗 Links

### More Projects

- **[🍇 {{ github_repo }}](https://github.com/{{github_user}}/{{github_repo}})** - Powerful Python utilities for logging, timing, and more, making development smoother!

### Credits

- **Python** - <https://www.python.org/>

<div align="right">

[![](https://img.shields.io/badge/-BACK_TO_TOP-black?style=flat-square)](#readme-top)

</div>

---

#### 📝 License

Copyright © {{ "%Y" | strftime }} [{{ author_name }}](https://github.com/{{github_user}}). <br />
This project is [MIT](https://github.com/{{github_user}}/{{github_repo}}/blob/main/LICENSE) licensed.
